.label{}

.checkbox {
    display: none
}

.fake {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #454751;
    margin-right: 5px;
    position: relative;
}

.fake::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background-color: #454751;
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.spanClassName {

}